* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.card {
  position: relative;
  width: 380px;
  height: 800px;
  background-color: $gray-darkest;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
}

p {
  font-size: 0.6rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: $gray-lightest;
}
