* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.card {
  position: relative;
  width: 400px;
  background-color: $gray-darkest;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  -webkit-animation: fadein 1.5s;
  animation: fadein 1.5s;
  -webkit-box-shadow: 0px 13px 30px -4px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 13px 30px -4px rgba(0, 0, 0, 0.7);

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  p {
    font-size: 0.7rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: $gray-lightest;
    margin-top: 0.2rem;
  }
}

.card_header,
.card_header .card_profile-picture,
.card_course {
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 0px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 0px 5px rgba(0, 0, 0, 0);
}

.card_course,
.card_my-photos {
  position: relative;
  right: 0.5px;
}

.svg-inline--fa {
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  body {
    display: unset;

    .main {
      display: flex;
      justify-content: center;
      align-content: center;
    }
  }

  .card {
    width: 90%;
    margin: 0 auto;

    p {
      font-size: 0.5rem;
    }
  }
}
